# Author: Hugovidafe <hugo.vidal.ferre@gmail.com>
# Omusi of Hugovidafe (c) 2021
# Created: 6/1/2021 5:58:55
# Modified: 1/1/2021 1:21:8

# .gitignore
node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Ignore Assets folder
assets/

# Ignore Config folder
src/config/
